<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nobis
      temporibus quod sunt nam, laborum blanditiis id dolorum quam asperiores
      commodi, quia maiores quae consectetur! Veritatis impedit iure veniam
      neque laborum ratione quae, deserunt repellat numquam nulla ut, maiores
      atque ullam animi vel iusto molestiae provident mollitia, sunt unde alias.
    </p>
  </body>
</html>
