<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ullam,
      consequuntur voluptatem tempore atque quia? In autem veritatis reiciendis
      minus sapiente dolores! Eum non assumenda perferendis illo necessitatibus
      illum consequatur, et iure laborum, laudantium eius odio adipisci nulla
      quia ea dolorum rem? Nobis non minus vero repellendus aut saepe aliquid?
    </p>
  </body>
</html>
